openapi: 3.0.3
info:
  title: Sabre ACP Hotel Rate Hydration API
  version: 1.0.0
servers:
  - url: https://api.sabre.com
# security:
#   - oauth2_authentication: []
paths:
  /hotel/rates:
    get:
      summary: Rate Hydration API 
      description: The Rate Hydration API returns real-time pricing, availability, and cancellation rules for a specific property + room + stay dates.
      operationId: getHotelRates
      parameters:
        - name: property_id
          in: query
          required: true
          description: Must match a catalog feed property_id
          schema:
            type: string
            example: "100019896"
        - name: room_id
          in: query
          required: true
          description: Must match a catalog feed room_id
          schema:
            type: string
            example: "PANORAMA-KING-002"
        - name: check_in
          in: query
          required: true
          description: ISO travel check-in date
          schema:
            type: string
            format: date
            example: "2025-06-14"
        - name: check_out
          in: query
          required: true
          description: ISO travel check-out date.
          schema:
            type: string
            format: date
            example: "2025-06-17"
        - name: guests
          in: query
          required: true
          description: Number of guests for the room.
          schema:
            type: integer
            minimum: 1
            example: 2
        - name: rate_access_code
          in: query
          required: false
          description: Corporate contract / loyalty code
          schema:
            type: string
        - name: currency
          in: query
          required: false
          description: Optional for pricing display
          schema:
            type: string
      responses:
        '200':
          description: Rates returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateHydrationResponse'
components:
  schemas:
    RateHydrationResponse:
      type: object
      properties:
        property_id:
          type: string
          description: property_id from the catalog feed
        room_id:
          type: string
          description: room_id from the catalog feed
        availability:
          type: string
          description: room availability
        currency:
          type: string
          description: ISO currency code
        price:
          $ref: '#/components/schemas/Price'
        cancellation_policy:
          $ref: '#/components/schemas/CancellationPolicy'
        rate_plan:
          $ref: '#/components/schemas/RatePlan'  
        data_freshness:
          type: string
          format: date-time
          description: When pricing was confirmed
    Price:
      type: object
      properties:
        total:
          type: number
          description: Final total amount including taxes + fees
        nightly_date:
          type: number
          description: Base nightly rate before tax/fees
        breakdown:
          $ref: '#/components/schemas/BreakDown'
    BreakDown:
      type: object
      properties:
        base_fare:
          type: number
          description: Total room cost across stay before tax/fees
        taxes:
          type: number
          description: Total tax amount
        fees:
          type: number
          description: Resort fees, service charges, etc.
    CancellationPolicy:
      type: object
      properties:
        refundable: 
          type: boolean
          description: Whether the booking can be refunded
        deadline:
          type: string
          format: date-time
          description: Latest date/time cancellation is penalty-free
        penalty:
          type: string
          format: date
          description: What happens after deadline
    RatePlan:
      type: object
      properties:
        rate_plan_code: 
          type: string
          description: Rate plan identifier
        rate_access_code:
          type: string
          description: Corporate or negotiated rate code
        inclusions:
          type: array
          description: Benefits included in the room rate
          items:
            type: string
        
        
        details:
          type: array
          items:
            type: string